<h1>Ratings between which values:</h1>

<form action="/gamesByRating" method="POST">
	Min: <input type="number" id="min" name="min" min="0" max="100">
	Max: <input type="number" id="max" name="max" min="0" max="100">
	<input  type="hidden" name="id" id="id" value={{id}}>
	<input type="submit" value="Sort">
</form>