<h1>Create Group</h1>

<form action="/createGroup" method="POST">
	<label for="name">Group Name: </label>
	<input type="text" id="name" name="name">
	<label for="description">Group Description: </label>
	<input type="text" id="description" name="description">
	<input type="submit" value="Create">
</form>