<h1>Register</h1>

<form method="POST" action="/register">
	<label for='txtUsername'>Username: </label>	
	<input type='text' name='username'><br>
	<label for='txtPassword'>Password : </label>
	<input type='password' name='password'><br>
	<input type='submit' value='Register'>
</form>